/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    .menu li {
        margin-right: 18px;
    }
    .menu li:last-child {
        margin-right: 0;
    }
    .icon-menu {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-size: contain;
    }
    .logo img {
        width: 110px;
    }
    body {
        font-size: 14px;
    }
    .header {
        padding: 18px 0;
    }
    .btn-main.btn-main_page {
        height: 42px;
        padding: 0 17px;
        font-size: 13px;
    }
    .list-socials img {
        width: 42px;
        height: 42px;
    }
    .header__location {
        font-size: 13px;
    }
    .title-big {
        font-size: 38px;
    }
    .billbord .title-big {
        max-width: 785px;
        margin-bottom: 10px;
    }
    .descr-big {
        font-size: 24px;
    }
    .billbord .descr-big {
        margin-bottom: 26px;
    }
    .btn-main {
        height: 56px;
        padding: 0 35px;
        font-size: 14px;
    }
    .billbord .list-page {
        margin-top: 55px;
        max-width: 1045px;
    }
    .list-page li {
        font-size: 16px;
        margin-bottom: 22px;
        padding-left: 27px;
    }
    .billbord {
        padding-top: 110px;
        padding-bottom: 75px;
    }
    .title-section {
        font-size: 32px;
    }
    .btn-simple {
        height: 34px;
        padding: 0 10px;
        font-size: 13px;
    }
    .head-section {
        padding-top: 55px;
        padding-bottom: 38px;
    }
    .row {
        margin: 0 -10px;
    }
    .row > div {
        padding: 0 10px;
    }
    .row.row_main {
        margin-bottom: -20px;
    }
    .row_main > div {
        margin-bottom: 20px;
    }
    .item-category {
        padding: 27px 21px;
        min-height: 290px;
    }
    .item-category__title {
        font-size: 21px;
    }
    .item-category li {
        margin-top: 17px;
        font-size: 13px;
    }
    .item-category__image {
        transform: scale(0.76);
        transform-origin: 100% 100%;
    }
    .item-category ul {
        padding-right: 138px;
    }
    .col-lg-3 .item-category__title {
        padding: 20px 21px;
    }
    .about .title-section {
        margin-bottom: 29px;
    }
    .slider-photos .slick-slide {
        padding: 0 10px;
    }
    .slider-photos .slick-list {
        margin: 0 -10px;
    }
    .slider-photos__item {
        height: 193px;
    }
    .about .slider-photos {
        margin: 38px 0;
    }
    .line-form .item-form {
        width: 320px;
    }
    .item-form input {
        height: 56px;
        padding: 0 22px;
    }
    .about__image img {
        max-width: 770px;
    }
    .etaps .title-section {
        margin-bottom: 40px;
    }
    .slider-accordion {
        padding: 50px 75px;
    }
    .item-accordion__head {
        padding: 18px 0;
        width: 90px;
    }
    .icon-page {
        width: 54px;
        height: 54px;
        padding: 12px;
    }
    .item-accordion__title {
        font-size: 20px;
    }
    .item-accordion__inner {
        padding: 40px 60px;
        padding-left: 95px;
    }
    .item-accordion__top {
        margin-bottom: 40px;
    }
    .item-accordion .list-socials {
        margin-top: 45px;
    }
    .item-accordion {
        margin-right: 18px;
        height: 380px;
    }
    .item-accordion.active {
        margin-right: 35px;
    }
    .item-accordion__text {
        max-width: 323px;
    }
    .item-accordion__inner .icon-page {
        top: 25px;
        left: 24px;
    }
    .etaps {
        padding-top: 50px;
        padding-bottom: 135px;
    }
    .footer {
        font-size: 13px;
        padding-top: 40px;
    }
    .footer__contacts {
        margin-left: -20px;
    }
    .footer-bottom {
        margin-top: 70px;
    }
    .footer__logo {
        margin-bottom: 36px;
    }
    .wrapper {
        padding-top: 78px;
    }
    .item-contact__value {
        font-size: 18px;
    }
    .page-contacts .list-socials {
        padding-top: 6px;
    }
    #map {
        height: 425px;
    }
    .page-contacts {
        padding-bottom: 130px;
    }
    .tabs-page a {
        padding: 0 22px;
        font-size: 16px;
        height: 47px;
    }
    .tabs-page {
        margin-bottom: 32px;
    }
    .item-news {
        padding: 18px;
    }
    .item-news__title {
        font-size: 18px;
    }
    .item-news__image {
        height: 200px;
    }
    .page-news {
        padding-bottom: 115px;
    }
    .unit-form {
        padding: 20px 22px;
        padding-right: 17px;
        padding-bottom: 18px;
    }
    .item-radio {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .item-radio label > span {
        padding-left: 25px;
    }
    .unit-form_margin .item-radio {
        margin-bottom: 12px;
    }
    .unit-form__descr {
        padding: 9px;
        margin-bottom: 20px;
    }
    .unit-form_head {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .form-wrapper {
        max-width: 980px;
        margin-top: 45px;
    }
    .page-price {
        padding-top: 55px;
        padding-bottom: 50px;
    }
    .page-price .title-section {
        margin-bottom: 35px;
        max-width: 1045px;
    }
    .head-article {
        padding: 50px 60px;
        padding-bottom: 85px;
        margin-bottom: 80px;
    }
    .time-article {
        font-size: 13px;
        margin-bottom: 25px;
    }
    .head-article h1 {
        font-size: 41px;
        max-width: 675px;
    }
    .page-article .container::before {
        margin-left: -458px;
        width: 620px;
        height: 287px;
    }
    .article-content blockquote {
        padding: 32px 70px;
        padding-right: 16px;
    }
    .article-content blockquote::before {
        left: 35px;
    }
    .article-content > .row {
        margin-bottom: 96px;
    }
    .article-content h2 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .page-article {
        padding-bottom: 115px;
    }
    .image-billbord img {
        max-width: 450px;
    }
    .page-about__image img {
        max-width: 850px;
    }
    .page-about__image {
        margin-left: -230px;
        margin-top: -103px;
    }
    .text-page {
        font-size: 16px;
    }
    .page-about .text-page {
        max-width: 677px;
    }
    .page-delivery,
    .page-categories,
    .page-about {
        background-size: 700px auto;
    }
    .page-about .title-section {
        font-size: 28px;
        margin-top: 77px;
        margin-bottom: 55px;
    }
    .item-number__value {
        font-size: 80px;
        margin-bottom: 15px;
    }
    .info-about {
        padding: 26px 34px;
        padding-right: 23px;
    }
    .sertificats {
        padding-top: 145px;
        padding-bottom: 135px;
    }
    .item-sertificat {
        height: 378px;
    }
    .slider-sertificats .slick-slide {
        padding: 0 10px;
    }
    .slider-sertificats .slick-list {
        margin: 0 -10px;
    }
    .title-win {
        font-size: 82px;
        margin-bottom: 29px;
    }
    .item-win {
        font-size: 18px;
    }
    .row_win > div:nth-child(1) .item-win {
        max-width: 225px;
    }
    .row_win > div:nth-child(3) .item-win {
        max-width: 275px;
    }
    .row_win > div:nth-child(7) .item-win {
        max-width: 215px;
        margin-top: 35px;
    }
    .row_win > div:nth-child(3) .item-win, .row_win > div:nth-child(1) .item-win {
        margin-top: 90px;
    }
    .row_win > div:nth-child(4) .item-win, .row_win > div:nth-child(6) .item-win {
        margin-top: -104px;
    }
    .win {
        padding-top: 62px;
        padding-bottom: 80px;
    }
    .section-application {
        padding: 0 15px;
        padding-top: 120px;
    }
    .application-block .title-section {
        margin-bottom: 38px;
    }
    .application-block .item-form input {
        height: 50px;
    }
    .application-block .item-form {
        margin-bottom: 40px;
    }
    .page-categories {
        padding-bottom: 120px;
    }
    .page-categories .title-section {
        margin-bottom: 35px;
    }
    .page-delivery .title-section {
        margin-bottom: 40px;
    }
    .item-delivery {
        padding: 40px 60px;
        padding-bottom: 50px;
        font-size: 16px;
    }
    .item-delivery__head {
        margin-bottom: 30px;
    }
    .descr-application {
        font-size: 18px;
        margin-top: -15px;
        margin-bottom: 37px;
    }
    .section-application_question .btn-main {
        margin-bottom: 31px;
    }
    .billbord-page .title-big {
        max-width: 720px;
    }
    .billbord-page__center {
        margin: 70px 0;
    }
    .billbord-page {
        min-height: 540px;
    }
    .page-service .title-section {
        margin-bottom: 32px;
    }
    .page-service p {
        margin-bottom: 16px;
    }
    .page-service {
        padding-top: 60px;
        padding-bottom: 140px;
        line-height: 175%;
    }
    .page-service__bottom {
        padding-top: 40px;
    }
    .page-service__right {
        padding-top: 40px;
    }
    .info-service {
        width: 220px;
        height: 254px;
        margin-right: 40px;
        padding: 40px 30px;
        margin-bottom: -24px;
        font-size: 13px;
        line-height: 162%;
    }
    .info-service__title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .info-service .icon-page {
        margin-bottom: 25px;
    }
    .info-service:nth-child(7), .info-service:nth-child(3) {
        margin-left: 125px;
    }
    .item-text {
        padding: 31px 35px;
        margin-bottom: 25px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .header__location {
        display: none;
    }
    .list-page li {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .item-category ul {
        padding-right: 93px;
    }
    .row > div {
        padding: 0 5px;
    }
    .row {
        margin: 0 -5px;
    }
    .row_main > div {
        margin-bottom: 10px;
    }
    .row.row_main {
        margin-bottom: -10px;
    }
    .item-category__image {
        transform: scale(0.5);
    }
    .item-category {
        padding: 21px 15px;
        min-height: 260px;
    }
    .item-category li {
        margin-top: 10px;
        font-size: 12px;
    }
    .item-category__title {
        font-size: 17px;
    }
    .col-lg-3 .item-category__title {
        padding: 15px 15px;
    }
    .slider-photos__item {
        height: 160px;
    }
    .line-form .item-form {
        width: 230px;
    }
    body {
        font-size: 13px;
        line-height: 170%;
    }
    .about .slider-photos {
        margin: 28px 0;
    }
    .about__image img {
        max-width: 500px;
    }
    .about__image {
        margin-top: 30px;
    }
    .etaps .title-section {
        margin-bottom: 30px;
    }
    .slider-accordion {
        padding: 28px 30px;
    }
    .item-accordion__head {
        padding: 18px 0;
        width: 70px;
    }
    .item-accordion__title {
        font-size: 17px;
    }
    .item-accordion {
        margin-right: 10px;
        height: 340px;
    }
    .item-accordion.active {
        margin-right: 20px;
    }
    .footer__contacts {
        margin-left: 0;
    }
    .footer__logo {
        margin-bottom: 33px;
    }
    .item-contact__value {
        font-size: 16px;
    }
    .item-news__title {
        font-size: 16px;
    }
    .item-news {
        padding: 14px;
    }
    .page-article .container::before {
        margin-left: -314px;
    }
    .article-content > .row {
        margin-bottom: 70px;
    }
    .image-billbord img {
        max-width: 390px;
    }
    .billbord_about .title-big {
        font-size: 30px;
        max-width: 620px;
    }
    .text-page {
        font-size: 14px;
    }
    .page-about .title-section {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .page-about .text-page {
        max-width: 520px;
    }
    .page-about__image img {
        max-width: 600px;
    }
    .page-about__image {
        margin-left: -165px;
        margin-top: -40px;
    }
    .item-number__value {
        font-size: 68px;
        margin-bottom: 12px;
    }
    .sertificats {
        padding-top: 100px;
        padding-bottom: 90px;
    }
    .item-sertificat {
        height: 298px;
    }
    .title-win {
        font-size: 65px;
        margin-bottom: 22px;
    }
    .item-win {
        font-size: 15px;
    }
    .row_win > div:nth-child(1) .item-win {
        max-width: 185px;
    }
    .row_win > div:nth-child(3) .item-win {
        max-width: 229px;
    }
    .row_win > div:nth-child(6) .item-win {
        max-width: 270px;
    }
    .row_win > div:nth-child(3) .item-win, .row_win > div:nth-child(1) .item-win {
        margin-top: 70px;
    }
    .row_win > div:nth-child(4) .item-win, .row_win > div:nth-child(6) .item-win {
        margin-top: -84px;
    }
    .row_win > div:nth-child(7) .item-win {
        max-width: 180px;
        margin-top: 25px;
    }
    .win {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .section-application {
        padding-top: 80px;
    }
    .item-delivery .icon-page {
        margin-right: 25px;
    }
    .item-delivery {
        padding: 32px 33px;
        padding-bottom: 37px;
        font-size: 16px;
    }
    .info-service {
        width: 173px;
        height: 206px;
        margin-right: 30px;
        padding: 30px 20px;
        margin-bottom: -24px;
        font-size: 12px;
    }
    .info-service:nth-child(7), .info-service:nth-child(3) {
        margin-left: 98px;
    }
    .info-service__title {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .info-service .icon-page {
        margin-bottom: 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    body {
        font-size: 14px;
    }
    .header__wrapper .list-socials,
    .menu {
        display: none;
    }
    .title-big {
        font-size: 33px;
    }
    .descr-big {
        font-size: 20px;
    }
    .billbord .descr-big {
        margin-bottom: 20px;
    }
    .billbord .list-page {
        margin-top: 35px;
    }
    .billbord {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .line-form .item-form {
        width: 280px;
    }
    .line-form {
        max-width: 550px;
    }
    .about .title-section {
        margin-bottom: 20px;
    }
    .title-section {
        font-size: 28px;
    }
    .slider-photos__item {
        height: 200px;
    }
    .about__image img {
        margin: 0 auto;
    }
    .about__image {
        margin: 0;
        margin-top: 10px;
    }
    .slider-accordion {
        display: block;
    }
    .item-accordion {
        margin-bottom: 20px;
        margin-right: 0;
        height: auto;
        display: block;
    }
    .item-accordion.active .item-accordion__head {
        width: 100%;
        opacity: 1;
    }
    .item-accordion__head .item-accordion__title {
        writing-mode: initial;
        text-orientation: initial;
        transform: none;
        text-align: left;
    }
    .item-accordion:first-child .item-accordion__content {
        display: block;
    }
    .item-accordion__content {
        width: 100%;
        display: none;
        overflow: initial;
        transition: initial;
    }
    .item-accordion__inner, .item-accordion.active .item-accordion__content {
        width: 100%;
    }
    .item-accordion__inner {
        padding: 0 15px;
        padding-bottom: 20px;
        transform: none !important;
        height: auto;
    }
    .item-accordion__text {
        max-height: initial;
        overflow: initial;
    }
    .item-accordion__top {
        display: none;
    }
    .item-accordion__head {
        padding: 15px 15px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .item-accordion__title {
        font-size: 18px;
    }
    .item-accordion__head .icon-page {
        margin-right: 15px;
        margin-bottom: 0;
    } 
    .etaps {
        padding-top: 40px;
        padding-bottom: 80px;
        background-size: 1800px auto;
    }
    .item-accordion .list-socials {
        margin-top: 30px;
    }
    .footer-bottom {
        margin-top: 42px;
    }
    .footer-bottom .row > div {
        padding-bottom: 15px;
    }
    .btn_top {
        margin-top: -50px;
    }
    .item-category__image {
        transform: scale(0.7);
    }
    .item-accordion.active {
        margin-right: 0;
    }
    .item-accordion:last-child {
        margin-bottom: 0;
    }
    .footer__nav_main li {
        margin: 0;
    }
    .footer__title,
    .footer__nav_main li a {
        padding: 10px 0;
        border-bottom: 1px #fff solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__content {
        padding-top: 15px;
        display: none;
    }
    .footer__contacts {
        display: none;
    }
    .footer__title i {
        display: inline-block;
        transition: all 0.3s;
    }
    .footer__title.active i {
        transform: rotate(180deg);
    }
    .footer-bottom {
        margin-top: 35px;
    }
    .footer__logo {
        margin-bottom: 24px;
    }
    .header__wrapper .btn-main_page {
        width: 42px;
        height: 42px;
        font-size: 0;
        padding: 0;
    }
    .header__wrapper .btn-main_page i {
        font-size: 16px;
        display: block;
    }
    .sandwich {
        display: flex;
    }
    .header {
        padding: 12px 0;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 15px 15px;
        padding-bottom: 60px;
        display: none;
        overflow: auto;
        background-color: #fff;
        position: absolute;
    }
    .menu a {
        margin: 0;
        padding: 10px 0;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #807F7D;
    }
    .menu-mobile .menu {
        display: block;
        margin: 0;
    }
    .menu-mobile .list-socials,
    .menu-mobile .btn-main.btn-main_page {
        margin-top: 20px;
    }
    .menu-overlay {
        top: 66px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: -1;
    }
    .footer__order {
        order: -1;
    }
    .item-category ul {
        padding-right: 142px;
    }
    .wrapper {
        padding-top: 66px;
    }
    #map {
        margin-top: 20px;
    }
    .page-contacts .list-socials {
        padding-top: 0;
    }
    .footer {
        font-size: 14px;
    }
    .footer__nav_columns {
        columns: initial;
    }
    .item-news__image {
        height: 220px;
    }
    .head-article h1 {
        font-size: 35px;
    }
    .head-article {
        padding: 35px 30px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .page-article .container::before {
        margin-left: -235px;
        width: 470px;
        height: 217px;
    }
    .page-article {
        padding-bottom: 85px;
    }
    .image-billbord {
        display: block;
        margin: 0;
        margin-top: 30px;
    }
    .image-billbord img {
        margin: 0 auto;
    }
    .page-delivery,
    .page-categories,
    .page-about {
        background-size: 400px auto;
    }
    .page-about__image {
        margin: 0;
    }
    .page-about__image img {
        margin-left: auto;
    }
    .sertificats {
        padding: 50px 0;
    }
    .slider-sertificats {
        padding-bottom: 35px;
    }
    .sertificats .title-section {
        margin-bottom: 30px;
    }
    .col_win {
        order: -1;
    }
    .row_win > div:nth-child(3) .item-win, 
    .row_win > div:nth-child(1) .item-win {
        margin-top: 0;
    }
    .row_win > div:nth-child(4) .item-win, 
    .row_win > div:nth-child(6) .item-win {
        margin-top: 0;
    }
    .row_win > div:nth-child(4) .item-win {
        margin-left: 0;
    }
    .row_win > div:nth-child(4) .item-win, .row_win > div:nth-child(1) .item-win {
        text-align: left;
    }
    .hidden-win {
        display: none !important;
    }
    .row.row_win {
        margin: 0 -25px;
    }
    .row.row_win > div {
        padding: 0 25px;
    }
    .item-win {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .row_win > div:nth-child(7) .item-win {
        margin-top: 0;
    }
    .image-win img {
        max-width: 400px;
        margin: 0 auto;
    }
    .image-win {
        margin-bottom: 25px;
    }
    .application-block .item-form {
        margin-bottom: 20px;
    }
    .application-block {
        padding: 40px;
    }
    .row_win > div:nth-child(1) .item-win {
        margin-left: 0;
    }
    .row_win > div:nth-child(7) .item-win {
        margin-left: 0;
        margin-right: 0;
    }
    .item-win {
        max-width: 100% !important;
    }
    .page-delivery .title-section {
        margin-bottom: 25px;
    }
    .page-delivery .row.row_main > div {
        margin-bottom: 20px;
    }
    .page-delivery .row.row_main > div:last-child {
        margin-bottom: 0;
    }
    .descr-application {
        font-size: 16px;
        margin-top: -15px;
        margin-bottom: 25px;
    }
    .section-application_question .btn-main {
        margin-bottom: 12px;
    }
    .billbord-page .title-big {
        max-width: 645px;
    }
    .billbord-page__center {
        margin: 40px 0;
    }
    .billbord-page {
        min-height: 450px;
    }
    .page-service .title-section {
        margin-bottom: 25px;
    }
    .page-service {
        padding-top: 45px;
        padding-bottom: 70px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .title-big {
        font-size: 24px;
    }
    .descr-big {
        font-size: 17px;
    }
    .billbord .list-page {
       display: none;   
    }
    .billbord {
        padding-top: 80px;
        padding-bottom: 90px;
        background-position: 40% 50%;
    }
    .head-section {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .title-section {
        font-size: 25px;
    }
    .slider-photos__item {
        height: 150px;
    }
    .line-form .item-form {
        width: 230px;
    }
    .about__image img {
        max-width: 100%;
    }
    .slider-photos {
        padding-bottom: 30px;
    }
    .breadcrumbs {
        padding: 15px 0;
    }
    .page-contacts .title-section {
        margin-bottom: 22px;
    }
    #map {
        height: 380px;
    }
    .page-contacts {
        padding-bottom: 85px;
    }
    .tabs-page a {
        padding: 0 20px;
        font-size: 14px;
        height: 44px;
    }
    .tabs-page li {
        margin-right: 12px;
    }
    .page-news .title-section {
        margin-bottom: 21px;
    }
    .tabs-page {
        margin-bottom: 22px;
    }
    .item-news__image {
        margin-bottom: 15px;
    }
    .item-news__title {
        margin-bottom: 15px;
    }
    .pager {
        height: 46px;
        margin-top: 32px;
    }
    .prev.page-numbers, .next.page-numbers {
        width: 46px;
        height: 46px;
    }
    .page-numbers {
        margin: 0 26px;
    }
    .page-news {
        padding-bottom: 85px;
    }
    .page-news {
        padding-bottom: 55px;
    }
    .page-price {
        padding-top: 40px;
        padding-bottom: 45px;
    }
    .form-wrapper {
        margin-top: 30px;
    }
    .unit-form__content {
        max-height: 402px;
    }
    .article-content > .row {
        margin-bottom: 20px;
    }
    .head-article h1 {
        font-size: 30px;
    }
    .head-article {
        padding: 25px 20px;
        margin-bottom: 30px;
    }
    .breadcrumbs {
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .page-article .container::before {
        display: none;
    }
    .head-article h1 {
        font-size: 26px;
    }
    .article-content blockquote::before {
        width: 3px;
        top: 25px;
        left: 23px;
        bottom: 25px;
    }
    .article-content blockquote {
        padding: 25px 50px;
        padding-right: 16px;
    }
    .article-content h2 {
        font-size: 19px;
        margin-bottom: 17px;
    }
    .page-article {
        padding-bottom: 60px;
    }
    .billbord.billbord_about {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .page-about__image {
        margin-top: -70px;
    }
    .title-win {
        font-size: 56px;
    }
    .row.row_win > div {
        padding: 0 15px;
    }
    .row.row_win {
        margin: 0 -15px;
    }
    .item-win {
        font-size: 13px;
    }
    .row_win > div:nth-child(7) .item-win {
        max-width: 150px;
    }
    .section-application {
        padding-top: 50px;
    }
    .item-sertificat {
        margin: 0 auto;
        max-width: 216px;
    }
    .page-delivery .title-section,
    .page-categories .title-section {
        margin-bottom: 28px;
    }
    .page-categories {
        padding-bottom: 60px;
    }
    .page-delivery {
        padding-bottom: 20px;
    }
    .page-service,
    .page-news,
    .page-contacts {
        background-image: url(../img/bg_page_about.svg);
        background-size: 400px auto;
        background-repeat: no-repeat;
        background-position: right top;
    }
    .time-article {
        margin-bottom: 18px;
    }
    .billbord-page .title-big {
        font-size: 28px;
    }
    .billbord-page__center {
        margin: 70px 0;
    }
    .info-service:nth-child(7), .info-service:nth-child(3) {
        margin-left: 0;
    }
    .info-service {
        margin: 0 15px !important;
    }
    .info-items {
        justify-content: center;
    }
    .page-service__bottom {
        padding-top: 25px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .billbord .btn-main {
        padding: 0 10px;
        width: 100%;
    }
    .head-section {
        display: block;
    }
    .head-section .btn-simple {
        margin-top: 15px;
    }
    .item-category__image {
        transform: scale(0.6);
        right: 3px;
        bottom: 15px;
    }
    .item-category {
        min-height: 235px;
    }
    .col-lg-4 .item-category__image {
        right: 2px;
        bottom: 10px;
    }
    .col-lg-3 .item-category__title {
        padding: 12px 10px;
        font-size: 15px;
    }
    .title-section {
        font-size: 23px;
    }
    .slider-photos .slick-slide {
        padding: 0 4px;
    }
    .slider-photos .slick-list {
        margin: 0 -4px;
    }
    .slider-photos__item {
        height: 125px;
    }
    .line-form {
        display: block;
    }
    .line-form .item-form {
        width: 100%;
        margin-bottom: 20px;
    }
    .line-form .btn-main {
        width: 100%;
        vertical-align: middle;
    }
    .checkbox {
        justify-content: center;
        margin-top: 15px;
    }
    .slider-accordion {
        padding: 20px 15px;
        border-radius: 30px;
    }
    .item-accordion__title {
        font-size: 16px;
    }
    .etaps {
        padding-bottom: 60px;
    }
    .categories {
        padding-bottom: 54px;
    }
    .about {
        padding-top: 40px;
    }
    .title-big {
        font-size: 21px;
    }
    .descr-big {
        font-size: 15px;
    }
    .item-accordion {
        margin-bottom: 12px;
    }
    .etaps {
        padding-bottom: 50px;
        background-size: 1500px;
    }
    .icon-page {
        width: 48px;
        height: 48px;
    }
    .item-category ul {
        padding-right: 110px;
    }
    .modal-wrap {
        padding: 30px 25px;
    }
    .fancybox-slide:not(.fancybox-slide--image) {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about {
        padding-bottom: 35px;
    }
    .page-numbers {
        margin: 0 23px;
    }
    .billbord_about .title-big {
        font-size: 26px;
    }
    .image-billbord img {
        max-width: 100%;
    }
    .page-about .title-section {
        margin-bottom: 20px;
    }
    .text-page p {
        margin-bottom: 15px;
    }
    .page-about__image img {
        max-width: 100%;
    }
    .page-about__image {
        margin-right: -15px;
        margin-bottom: 10px;
    }
    .item-number {
        font-size: 12px;
        line-height: 140%;
    }
    .item-number__value {
        font-size: 52px;
    }
    .info-about {
        padding: 25px 20px;
    }
    .sertificats {
        padding: 40px 0;
    }
    .slider-sertificats .slick-slide {
        padding: 0 4px;
    }
    .slider-sertificats .slick-list {
        margin: 0 -4px;
    }
    .item-sertificat {
        height: 224px;
        max-width: 164px;
        margin: 0 auto;
    }
    .title-win {
        font-size: 47px;
    }
    .image-win img {
        max-width: 100%;
    }
    .application-block {
        padding: 30px 5px;
        border-radius: 35px 35px 0 0;
    }
    .application-block .title-section {
        margin-bottom: 25px;
    }
    .application-block .btn-main {
        width: 100%;
    }
    .descr-application {
        font-size: 14px;
        margin-top: -8px;
        margin-bottom: 20px;
    }
    .item-delivery__head {
        margin-bottom: 20px;
    }
    .page-service,
    .page-news,
    .page-contacts,
    .page-delivery, 
    .page-categories, 
    .page-about {
        background-size: 200px auto;
    }
    .item-delivery {
        padding: 30px 23px;
        padding-bottom: 25px;
        font-size: 14px;
    }
    .head-article h1 {
        font-size: 24px;
        line-height: 130%;
    }
    .head-article {
        margin-bottom: 25px;
    }
    .billbord-page .title-big {
        font-size: 25px;
    }
    .billbord-page__center {
        margin: 60px 0;
    }
    .page-service .title-section {
        margin-bottom: 19px;
    }
    .info-service {
        width: 150px;
        height: 180px;
        padding: 21px 12px;
        font-size: 11px;
        margin: 0 5px !important;
    }
    .info-service__title {
        font-size: 14px;
        margin-bottom: 2px;
    }
    .item-text {
        padding: 25px 20px;
    }
    .page-service {
        padding-bottom: 55px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .menu-mobile,
    .hidden-mob {
        display: none !important;
    }
    .footer__content {
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
    max-width: 1470px;
}
}